/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Sarala:wght@400;700&display=swap');

/* General */
*{
     font-family: 'Sarala', 'sans-serif';
}

html{
    font-size: 10px;
}

.flex-collumn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid{
    display: grid;
    grid-column: auto;
    grid-row: auto;
}

h1, h2, h3{
     font-family: 'Cabin', 'sans-serif';
}
html, body {
     width: 100%;
     height: 100%;
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
}

main {
    grid-area: main;
    align-content: center;}

*{
     margin: 0rem;
     padding: 0rem;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
}


html,body{
    background-color: #0c2731;
    box-sizing: border-box;
    height: 100%;
}

/* Header */

header{
     height: auto;
     min-height: 80px;
     width: 100vw;
     background: linear-gradient(to bottom, #031319,  #010608);
     padding: 1rem 0rem;
     border-bottom: 0.4rem solid #ee0823;
     color: #eee;
     flex-wrap: wrap;
     display: flex;
     justify-content: space-between;
     align-items: center;
     grid-area: header;
}

header .MyJobs{
     font-size: 1.3rem;
     font-weight: 400;
     text-transform: uppercase;
}
/* Link List */

header ul{
     display: flex;
     margin-right: 2rem;
}

header ul li a{
     display: block;
     padding: 2rem;
     color: #ee0823;
     font-size: 1.8rem;
     transition: color .4s ease;
     text-transform: uppercase;
}

header ul li a:hover{
     color: #eee;
}

/* Author Name */

div .name{
     padding-top: 2.5rem;
     color: #ee0823;
     font-size: 3rem;
     text-align: center;
}

header div{
     color: #ee0823;
}

header div h3{
     margin-left: 3.0rem;
}

 /*Footer*/
 footer {
     border-top: solid 0.4rem #031319;
     height: auto;
     width: 100vw;
     padding-top: 4rem; 
     background-color: #ee0823;
     color: #eee;
     grid-area: footer;
 }

 .footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }

 .footer-content h3{
     font-size: 2.5rem;
     font-weight: 400;
     text-transform: capitalize;
     line-height: 3rem; 
 }

 .footer-content p{
     max-width: 500px;
     width: 100%;
     margin: 1rem auto;
     line-height: 2.8rem;
     font-size: 1.5rem;
 }

 .social{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;
 }

 .social li{
     margin: 0 1rem;
 }

 .social li a{
     text-decoration: none;
     color: #eee;
 }

 .social li a i{
     font-size: 3rem;
     transition: color .4s ease;
 }

 .social li a:hover{
     color: #031319;
 }

 .footer-bottom{
     width: 100vw;
     background-color: rgb(168, 3, 3);
     padding: 2rem 0rem;
     text-align: center;
 }

 .footer-bottom p{
     font-size: 1.4rem;
     word-spacing: 0.2rem;
     text-transform: capitalize;
 }

 .footer-bottom span{
     text-transform: uppercase;
     opacity: 0.4;
     font-weight: 400;
 }

 /* Card Game */
 
 .cardGame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "b d";
    height: auto;
    min-height: 400px;
    width: 95vw;
    margin: 3rem 0rem;
    padding: 4rem 4rem;
    align-self: center;
    align-items: stretch;
    background-color: #031319;
    border-radius: 6rem;
    border: solid #ccc 0.4rem;
    justify-items: center;

 }

 .cardGame div, .cardGame img{
     width: 100%;
    }
    
    .cardGame .gameBanner{
    max-width: 473px;
    max-height: 375px;
    border: #ccc solid 0.4rem;
    border-radius: 6rem;
    grid-area: b;
 }
 .cardGame .gameInfo{
    grid-area: d;
    border: 0.4rem #ee0823 solid;
    border-radius: 6rem;
    color: #031319;
    padding: 3rem;
    background-color: #ccc;
    position: relative;
 }

 .cardGame .gameInfo a{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #ee0823;
    border-radius: 6rem;
    padding: 2rem;
    font-size: 1.6rem;
    transition: all 1s ease;
 }

 .cardGame .gameInfo a:hover{
     background-color: #031319;
     color: #ee0823;
 }

 .cardGame .gameInfo .gameName{
     text-align: center;
     padding-bottom: 1.5rem;
     font-size: 2.4rem;
 }

 .cardGame .gameInfo{
    position: relative;
 }
 .cardGame .gameInfo .gameDescription{
     text-align: justify;
     font-size: 1.8rem;
 }

 /*First Message*/
 .about{
     width: 95vw;
     max-width: 1000px;
     background-color: #ddd;
     border: inset #ee0823 0.8rem;
     border-radius: 6rem;
     color: #011319;
     text-align: justify;
     padding: 5rem;
     align-self: center;
     font-size: 1.6rem;
     margin-top: 3rem;
     line-height: 3.5rem;
 }

 /*Media Queries*/
 
@media(max-width: 1120px){
    
        html{
            font-size: 8px;
        }
        .cardGame{
            grid-template-rows: auto auto;
            grid-template-columns: 1fr;
            grid-template-areas: "b" "d" ;
            justify-items: center;
            max-width: 1000px;
        }
        
        .cardGame div, .cardGame img{
            max-width: 800px;
            width: 100%;
            height: auto;
            margin: 4rem 0rem;
        }

        .cardGame div{
            margin-top: 0rem;

        }

        .cardGame .gameInfo{
            display: flex;
            flex-direction: column;
        }
        .cardGame .gameInfo a{
            position: static;
            max-width: max-content;
            align-self: center;
            margin-top: 3rem;
        }
}


@media(max-width: 910px){
    nav{
        display: none;
    }

    .about{
        max-width: 800px;
    }

    .one, .two, .three{
        height: 5px;
        background-color: #ee0823;
        width: 100%;
        margin: 0.5rem;
    }

    .menuToggle{
        margin-right: 5rem;
        width: 40px;
        display: flex;
        flex-direction: column;
    }

    .menuSection.on{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ee0823;
        height: 100vh;
        width: 100vw;

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuSection.on nav ul li a{
        display: block;
        color: #eee;
    }

    .menuSection.on .menuToggle{
        position: absolute;
        top: 2.9rem;
        right: 0.4rem;
    }

    .menuSection.on .one, .menuSection.on .two, .menuSection.on .three{
        background-color: #eee;
    }

    .menuSection.on .menuToggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menuSection.on .menuToggle .two{
        display: none;
    }

    .menuSection.on .menuToggle .three{
        transform: rotate(-45deg) translate(2px, -2px);
    }

    .menuSection.on nav{
        display: block;
    }
    .menuSection.on nav ul{
        color: #eee;
        text-align: center;
        display: block;
    }

    .menuSection.on nav ul a{
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 8rem;
    }
    .menuSection.on nav ul a:hover{
        background-color: #eee;
        color: #ee0823;
        border-radius: 6rem;
    }
}

@media(max-width:530px){
    .one, .two, .three{
        height: 4px;
        background-color: #ee0823;
        width: 100%;
        margin: 0.5rem;
    }
    .menuToggle{
        margin-right: 3rem;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
    }

}

@media(max-width:510px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menuToggle{
        margin: 0rem 45vw;
    }

    .menuSection.on .menuToggle{
        transform: translate(-2rem, 4rem);
    }
}

@media(max-width: 460px){
    .MyJobs{
        text-align: center;
        margin: 2rem 4rem;
    }

    .dots:last-of-type{
        display: none;
    }
}

@media(max-width: 425px){
    .cardGame div, .cardGame img{
        margin: 4rem 0rem;
    }
}

@media(max-width: 374px){
    .dots:last-of-type{
        display: initial;
    }
}

@media(max-width: 316px){
    .MyJobs{
        margin: 2rem 6rem;
    }
    .dots{
        display: none;
    }
    .dots:last-of-type{
        display: none;
    }
}