@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Sarala:wght@400;700&display=swap');

*{
    font-family: 'Sarala', 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #880817;
    transition: color .8s ease;
    font-weight: bold;
}

h2{
    padding: 1rem 0rem 0.7rem 0rem;
}

p{
    text-indent: 2rem;
    padding: 0rem 10rem;
    padding-bottom: 2rem;
    text-align: justify;
}

body{
    color: #0c2731;
    background-color: #0c2731;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Equi{
    background-color: #bbb;
    border-radius: 6rem;
    border: #ee0823 solid 0.8rem;
    max-width: 1000px;
    margin-top: 6rem;
}

@media(max-width: 1000px){
    .Equi{
        max-width: 500px;
    }
    p{
        padding: 3rem;
        padding-top: 0rem;
    }
}

@media(max-width: 500px){
    .Equi{
        max-width: 450px;
    }
}